@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Inter:wght@400;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background-color: hsl(0, 0%, 98%);
}
.navbar ul {
    list-style-type: none;
}
.navbar ul li {
    display: inline-block;
}
.nav-menu .nav-link {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}
.dropdown1 {
    display: none;
    position: fixed;
}
.dropdown1 .drop-img {
    display: block;
    margin-top: 10px;
}
.dropdown2 {
    display: none;
    position: fixed;
}
.dropdown2 .drop-text {
    display: block;
    margin-top: 10px;
}
.other .register {
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid hsl(0, 0%, 8%);
    background-color: #fff;
    font-size: 1rem;
}
.other .register:hover, .register:focus {
    cursor: pointer;
}
.other .nav-link:hover, .nav-link:focus {
    color: black;
    cursor: pointer;
}
.sec1 .col-make p {
    color: hsl(0, 0%, 41%);
    font-size: 1.7rem;
}
.navbar .nav-link:hover, .navbar .nav-link:focus {
    color: black;
}
.navbar .logo:focus, .navbar .logo:hover {
    cursor: pointer;
}

@media (max-width: 576px) {
    * {
        text-align: center;
    }
    .navbar {
        display: flex;
        padding: 20px;
        width: 100%;
    }
    .navbar .logo {
        margin-right: 65%;
    }
    .toggler {
        display: block;
        z-index: 1;
    }
    .toggle.active {
        transition: 0.7s;
    }
    .nav-menu {
        position: fixed;
        right: -1000px;
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: yellow;
        width: 80%;
        text-align: left;
        height: 100vh;
        transition: 0.5s;
        padding-top: 50px;
    }
    .nav-menu .nav-item {
        left: 20px;
        padding: 15px;
    }
    .nav-menu.active {
        right: 0;
    }
    .sec1 {
        width: 100%;
    }
    .sec1 .row {
        width: 100%;
    }
    .sec1 .img-desktop {
        display: none;
    }
    .sec1 .img-mobile {
        width: 100%;
        height: 100%;
        margin: 10px auto;
    }
    .row1 .h-desktop {
        display: none;
    }
    .row1 .h-mobile {
        font-size: 2.3rem;
        text-align: center;
    }
    .row1 .col-make p {
        text-align: center;
        font-size: 1.1rem;
        padding: 0 10px;
    }
    .row1 button {
        width: 45vw;
        height: 10vh;
        margin: 40px auto;
        padding: 10px 20px;
        background-color: black;
        font-weight: 700;
        color: #fff;
        font-size: 1.3rem;
        border: none;
        border-radius: 30px;
    }
}
@media (min-width: 577px) {
    .navbar {
        width: 100%;
    }
    .navbar {
        display: flex;
        align-items: center;
        padding: 10px 30px;
    }
    /* .navbar .logo {
        margin-right: 50%;
    } */
    .nav-menu {
        display: flex;
    }
    .navbar .toggler {
        display: none;
    }
    .navbar ul li {
        display: inline-block   ;
    }
}
@media (min-width: 992px) {
    .navbar {
        width: 100%;
    }
    .navbar {
        display: flex;
        align-items: center;
        padding: 10px 30px;
    }
    .navbar .toggler {
        display: none;
    }
    .nav-menu .features {
        cursor: pointer;
    }
    .dropdown1.active {
        display: block;
        background-color: #fff;
        height: 22vh;
        top: 8%;
        left: 10vw;
        border-radius: 10px;
        width: 150px;
        text-align: center;
        box-shadow: -5px 2px 8px rgba(0, 0, 0, 0.15);
    }
    .dropdown2.active {
        display: block;
        background-color: #fff;
        height: 17vh;
        top: 8%;
        left: 22%;
        border-radius: 10px;
        box-shadow: -5px 2px 10px rgba(0, 0, 0, 0.15);
    }
    .dropdown1 .drop-img img {
        padding-right: 12px;    
    }
    .navbar .nav-menu li {
        padding: 1px 12px;
    }
    .navbar .logo {
        padding-top: 10px;
        margin-right: 5vw;
    }
    .navbar .other {
        display: inline;
        margin-left: 42vw;
    }
    .sec1 {
        width: 95%;
        height: 70vh;
        margin: auto;
    }
    .sec1 .row {
        display: flex;
        padding: 20px 70px;
    }
    .sec1 .col-make {
        font-size: 2rem;
    }
    .sec1 .img-mobile {
        display: none;
    }
    .sec1 .img-desktop {
        padding-left: 100px;
        width: 38vw;
        height: 80vh;
    }
    .sec1 .col-make button {
        margin-top: 50px;
        width: 13vw;
        height: 10vh;
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        background-color: black;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .sec1 .col-make button:hover, .sec1 .col-make button:focus {
        cursor: pointer;
        color: black;
        background-color: #fff;
        border: 1px solid black;
    }
    .row1 .minis {
        padding-top: 50px;
    }
}


